body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.section {
    margin-bottom: 30px; /* Increased margin between sections */
}

.split {
    display: flex;
    justify-content: space-between; /* Distribute sections evenly */
}

.split-section {
    flex: 1;
    margin-right: 20px; /* Adjust margin between split sections */
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px; /* Increased margin between tables */
}

th, td {
    padding: 12px;
    text-align: left;
}


.important {
    background-color: #fff;
    border: 2px solid #333;
    padding: 20px;
}

.split {
    display: flex;
}

.data {
    flex: 1;
    margin-right: 20px;
}

.data p {
    margin: 5px 0;
}

.data p strong {
    font-weight: bold;
    color: #333;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px 3px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

td {
    border-bottom: 1px solid #ddd;
}

/* New styles for striped rows */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* New styles for hover effect */
tbody tr:hover {
    background-color: #f2f2f2;
}

.profile-pic {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.org-pic {
    width: 30px;
    height: auto;
}
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.progress {
    border-width: 0px;
    border-radius: 5px;
    border-style: solid;
    margin-top: 20px;
    margin-right: 20px;
    height: 45px;
    display: inline-block;
}

.ksat {
    background-color: #321b4c;
}

.orbit {
    background-color: rgb(37,99,235);
}

.bar-distance {
    font-size: 45px;
    margin-left: 5px;
    position: relative;
    z-index: 1;
}

.bar-distance > span {
    font-size: 10px;
}

.progress-section {
    display: flex;
}

.infotext {
    font-size: 20px;
    text-align: center;
}


li {
    list-style: none;
    text-align: center;
    margin: 10px;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
}
