{% from 'macros.html' import table %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athlete Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">

        <div class="section">
            <div class="split">
                <div class="data" style="display: flex; justify-content: center;">
                    <div style="position: relative;">
                        <img src="/static/ksat.webp" style="width: auto; height: 100px; position: absolute; left: 50%; right: 50%; transform: translate(-50%, -25%);">
                        <p class="infotext" style="margin-top: 100px;">Total distance: {{ data["ksat"]["distance"] }} km</p>
                        <p class="infotext">Vertical distance: {{ data["ksat"]["height"] }} m</p>
                        <p class="infotext">This week: {{ data["ksat"]["distance_week"] }} km</p>
                        <br>
                        {% for week in data["weeks"] %}
                        <p class="infotext" style="white-space: pre;">{{ data["ksat"][week]["week_string"] }}</p>
                        {% endfor %}

                    </div>
                </div>
                <div>
                    <h1 style="text-align: center; margin-bottom: 50px;">VS</h1>
                    <h3 style="text-align: center;">Time left:</h3>
                    <ul>
                        <div>
                            <li id="days">0</li>
                            <li>Days</li>
                        </div>
                        <div>
                            <li id="hours">0</li>
                            <li>Hours</li>
                        </div>
                        <div>
                            <li id="minutes">0</li>
                            <li>Minutes</li>
                        </div>
                        <div>
                            <li id="seconds">0</li>
                            <li>Seconds</li>
                        </div>
                    </ul>
                    <ul>

                    </ul>
                </div>
                <div class="data"  style="display: flex; justify-content: center;">
                    <div style="position: relative;">
                        <img src="/static/orbit.png" style="width: auto; height: 100px; position: absolute; left: 50%; right: 50%; transform: translate(-50%, -25%);">
                        <p class="infotext" style="margin-top: 100px;">Total distance: {{ data["orbit"]["distance"] }} km</p>
                        <p class="infotext">Vertical distance: {{ data["orbit"]["height"] }} m</p>
                        <p class="infotext">This week: {{ data["orbit"]["distance_week"] }} km</p>
                        <br>
                        {% for week in data["weeks"] %}
                        <p class="infotext" style="white-space: pre;">{{ data["orbit"][week]["week_string"] }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div style="margin-top: 40px; margin-bottom: 100px;">
                <div style="width: 100%; position: relative;">
                    <img src="/static/checkered_flag.png" style="width: 54px; height: 150px; position: absolute; z-index: 0; margin-left: 80%;">
                    <div class="progress ksat" style="width: {{ data['ksat']['progress'] }}%;"></div>
                    
                    <img src="/static/ksat.webp" style="width: 108px; height: auto; z-index: 1; position: relative;">
                    <span class="bar-distance">{{ data['ksat']['distance'] }}<span>km</span></span>
                    <br>
                    <div class="progress orbit" style="width: {{ data['orbit']['progress'] }}%;"></div>
                    <img src="/static/orbit.png" style="width: 108px; height: auto; z-index: 1; position: relative; transform: translate(0, 20%);">
                    <span class="bar-distance">{{ data['orbit']['distance'] }}<span>km</span></span>
                </div>
            </div>
        
        </div>

        <div class="section split">
            {{ table("Latest Activity", ["Time", "Distance", "Elevation"], ["time", "distance", "height"], ["", " km", " m"], data["latest_activity"]) }}
        </div>

        <div class="section split">
            <div class="split-section">
                <h2 style="margin-bottom: 0px;">Most elevation gain in single activity</h2>
                <p style="color: grey; margin: 0 0 20px 10px;">
                    <small>To qualify, your activity must be public on strava. <br>
                        You may make it private again after registration here (~10 mins)
                    </small>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th></th>
                            <th>Name</th>
                            <th>Time</th>
                            <th>Elevation</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in data["most_single_height"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}"><img src="{{ activity['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}">{{ activity["name"] }}</a></td>
                            <td>{{ activity["time_elevation_gain"] }}</td>
                            <td><a href="https://strava.com/activities/{{activity['most_elevation_gain_activity_id']}}">{{ activity["most_elevation_gain"] }} m</a></td>
                            <td><img src="{{ url_for('static', filename=activity['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="split-section">
                <h2>Longest single distance</h2>
                <p style="color: grey; margin: 0 0 20px 10px;">
                    <small>Your activity does <strong>not</strong> have to be public.<br>
                        
                    </small>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th></th>
                            <th>Name</th>
                            <th>Distance</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for athlete in data["longest_single_distance"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{athlete['id']}}"><img src="{{ athlete['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{athlete['id']}}">{{ athlete["name"] }}</a></td>
                            <td><a href="https://strava.com/activities/{{athlete['best_distance_activity_id']}}">{{ athlete["best_distance"] }} km</a></td>
                            <td><img src="{{ url_for('static', filename=athlete['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="section split">
            <div class="split-section">
                <h2 style="margin-bottom: 0;">Fastest 3k</h2>
                <p style="color: grey; margin: 0 0 20px 10px;">
                    <small>To qualify, your activity must be public on strava.<br/>
                    You may make it private again after registration here (~10 mins)<br/>
                    Treadmill activities do not count. <br>
                    Prizes for both male and female classes
                </small>
                </p>
                <div>
                    <form onchange="updateTable('fastest_3k')" id="fastest_3k_sort">
                        <label><input type="radio" name="gender" value="A" checked> All</label>
                        <label><input type="radio" name="gender" value="F"> Female</label>
                        <label><input type="radio" name="gender" value="M"> Male</label>
                    </form>
                </div>
                <table id="fastest_3k_table">
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th></th>
                            <th>Name</th>
                            <th>Time</th>
                            <th>3k time</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody version="A">
                        {% for activity in data["fastest_3k"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}"><img src="{{ activity['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}">{{ activity["name"] }}</a></td>
                            <td>{{ activity["time_fastest_3k"] }}</td>
                            <td><a href="https://strava.com/activities/{{activity['fastest_3k_activity_id']}}">{{ activity["fastest_3k"] }}</a></td>
                            <td><img src="{{ url_for('static', filename=activity['org_pic']) }}" alt="Org" class="org-pic"></td>
                            <span style="display: none;" gender="{{activity['gender']}}"></span>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tbody version="F" hidden>
                        {% for activity in data["fastest_3k_female"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}"><img src="{{ activity['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}">{{ activity["name"] }}</a></td>
                            <td>{{ activity["time_fastest_3k"] }}</td>
                            <td><a href="https://strava.com/activities/{{activity['fastest_3k_activity_id']}}">{{ activity["fastest_3k"] }}</a></td>
                            <td><img src="{{ url_for('static', filename=activity['org_pic']) }}" alt="Org" class="org-pic"></td>
                            <span style="display: none;" gender="{{activity['gender']}}"></span>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tbody version="M" hidden>
                        {% for activity in data["fastest_3k_male"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}"><img src="{{ activity['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}">{{ activity["name"] }}</a></td>
                            <td>{{ activity["time_fastest_3k"] }}</td>
                            <td><a href="https://strava.com/activities/{{activity['fastest_3k_activity_id']}}">{{ activity["fastest_3k"] }}</a></td>
                            <td><img src="{{ url_for('static', filename=activity['org_pic']) }}" alt="Org" class="org-pic"></td>
                            <span style="display: none;" gender="{{activity['gender']}}"></span>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="split-section">
                <h2 style="margin-bottom: 0px;">Fastest 10k</h2>
                <p style="color: grey; margin: 0 0 20px 10px;">
                    <small>To qualify, your activity must be public on strava.<br/>
                    You may make it private again after registration here (~10 mins)<br/>
                    Treadmill activities do not count. <br>
                    Prizes for both male and female classes
                </small>
                </p>
                    
                <div>
                    <form onchange="updateTable('fastest_10k')" id="fastest_10k_sort">
                        <label><input type="radio" name="gender" value="A" checked> All</label>
                        <label><input type="radio" name="gender" value="F"> Female</label>
                        <label><input type="radio" name="gender" value="M"> Male</label>
                    </form>
                </div>
                <table id="fastest_10k_table">
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th></th>
                            <th>Name</th>
                            <th>Time</th>
                            <th>10k time</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody version="A">
                        {% for activity in data["fastest_10k"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}"><img src="{{ activity['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}">{{ activity["name"] }}</a></td>
                            <td>{{ activity["time_fastest_10k"] }}</td>
                            <td><a href="https://strava.com/activities/{{activity['fastest_10k_activity_id']}}">{{ activity["fastest_10k"] }}</a></td>
                            <td><img src="{{ url_for('static', filename=activity['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tbody version="M" hidden>
                        {% for activity in data["fastest_10k_male"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}"><img src="{{ activity['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}">{{ activity["name"] }}</a></td>
                            <td>{{ activity["time_fastest_10k"] }}</td>
                            <td><a href="https://strava.com/activities/{{activity['fastest_10k_activity_id']}}">{{ activity["fastest_10k"] }}</a></td>
                            <td><img src="{{ url_for('static', filename=activity['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tbody version="F" hidden>
                        {% for activity in data["fastest_10k_female"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}"><img src="{{ activity['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{activity['id']}}">{{ activity["name"] }}</a></td>
                            <td>{{ activity["time_fastest_10k"] }}</td>
                            <td><a href="https://strava.com/activities/{{activity['fastest_10k_activity_id']}}">{{ activity["fastest_10k"] }}</a></td>
                            <td><img src="{{ url_for('static', filename=activity['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="section split">
            <div class="split-section">
                <h2>Total Distance by Athlete</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th></th>
                            <th>Name</th>
                            <th>Distance</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for athlete in data["longest_distance"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{athlete['id']}}"><img src="{{ athlete['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{athlete['id']}}">{{ athlete["name"] }}</a></td>
                            <td>{{ athlete["distance"] }} km</td>
                            <td><img src="{{ url_for('static', filename=athlete['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="split-section">
                <h2>Total Elevation by Athlete</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th></th>
                            <th>Name</th>
                            <th>Elevation</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for athlete in data["most_height"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{athlete['id']}}"><img src="{{ athlete['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{athlete['id']}}">{{ athlete["name"] }}</a></td>
                            <td>{{ athlete["height"] }} m</td>
                            <td><img src="{{ url_for('static', filename=athlete['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer style="text-align: center; margin-top: 20px;">
        <p style="font-size: 12px; color: #555;">Contact Nicolai Nome Sommervold (on teams for KSAT, slack for Orbit) or August Solli Middelkoop (on slack for Orbit) if you experience any issues</p>
    </footer>
    <script type="text/javascript">
        const updateTimer = () => {
            let now = new Date();
            let end = new Date(2026, 5, 1, 0, 0, 0);
            let time_left = (end - now) / 1000;
            days = Math.floor(time_left/(24*3600))
            hours = Math.floor((time_left%(24*3600))/3600)
            minutes = Math.floor((time_left%3600)/60)
            seconds = Math.floor(time_left%60)
            document.getElementById("days").innerHTML = days
            document.getElementById("hours").innerHTML = hours
            document.getElementById("minutes").innerHTML = minutes
            document.getElementById("seconds").innerHTML = seconds
        }

        updateTimer();
        setInterval(updateTimer, 1000);

        const updateTable = (tableName) => {
            table = document.getElementById(tableName + "_table");
            input = document.getElementById(tableName + "_sort");
            const gender = document.querySelector("#" + tableName + "_sort input[name=\"gender\"]:checked");
            document.querySelector("#" + tableName + "_table tbody[version=A]").hidden = true;
            document.querySelector("#" + tableName + "_table tbody[version=M]").hidden = true;
            document.querySelector("#" + tableName + "_table tbody[version=F]").hidden = true;
            document.querySelector("#" + tableName + "_table tbody[version=" + gender.value + "]").hidden = false;
        }
        window.addEventListener("DOMContentLoaded", () => {
            updateTable("fastest_10k");
            updateTable("fastest_3k");
        });
    </script>
</body>
</html>
