<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athlete Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<!-- hvis du leser dette - forbered deg på et koderot haha -->
<body>
    <div class="container">

        <div class="section">
            <div class="split">
                <div class="data" style="display: flex; justify-content: center;">
                    <div style="position: relative;">
                        <img src="/static/ksat.png" style="width: auto; height: 100px; position: absolute; left: 50%; right: 50%; transform: translate(-50%, -25%);">
                        <p class="infotext" style="margin-top: 100px;">Employees: 423</p>
                        <p class="infotext">Total distance: {{ data["ksat_length"] }} km</p>
                        <p class="infotext">Vertical distance: {{ data["ksat_height"] }} m</p>
                        <p class="infotext">This week: {{ data["ksat_week"] }} km/employee</p>
                        <br>
                        <p class="infotext" style="white-space: pre;">{{ data["ksat_weeks"][0] }}</p>
                        <p class="infotext" style="white-space: pre;">{{ data["ksat_weeks"][1] }}</p>
                        <p class="infotext" style="white-space: pre;">{{ data["ksat_weeks"][2] }}</p>
                        <p class="infotext" style="white-space: pre;">{{ data["ksat_weeks"][3] }}</p>
                        <p class="infotext" style="white-space: pre;">{{ data["ksat_weeks"][4] }}</p>
                    </div>
                </div>
                <div>
                    <h1 style="text-align: center; margin-bottom: 50px;">VS</h1>
                    <h3 style="text-align: center;">Time left:</h3>
                    <ul>
                        <div>
                            <li id="days">0</li>
                            <li>Days</li>
                        </div>
                        <div>
                            <li id="hours">0</li>
                            <li>Hours</li>
                        </div>
                        <div>
                            <li id="minutes">0</li>
                            <li>Minutes</li>
                        </div>
                        <div>
                            <li id="seconds">0</li>
                            <li>Seconds</li>
                        </div>
                    </ul>
                    <ul>

                    </ul>
                </div>
                <div class="data"  style="display: flex; justify-content: center;">
                    <div style="position: relative;">
                        <img src="/static/orbit.png" style="width: auto; height: 100px; position: absolute; left: 50%; right: 50%; transform: translate(-50%, -25%);">
                        <p class="infotext" style="margin-top: 100px;">Members: 107</p>
                        <p class="infotext">Total distance: {{ data["orbit_length"] }} km</p>
                        <p class="infotext">Vertical distance: {{ data["orbit_height"] }} m</p>
                        <p class="infotext">This week: {{ data["orbit_week"] }} km/member</p>
                        <br>
                        <p class="infotext" style="white-space: pre;">{{ data["orbit_weeks"][0] }}</p>
                        <p class="infotext" style="white-space: pre;">{{ data["orbit_weeks"][1] }}</p>
                        <p class="infotext" style="white-space: pre;">{{ data["orbit_weeks"][2] }}</p>
                        <p class="infotext" style="white-space: pre;">{{ data["orbit_weeks"][3] }}</p>
                        <p class="infotext" style="white-space: pre;">{{ data["orbit_weeks"][4] }}</p>
                    </div>
                </div>
            </div>
            <div style="margin-top: 40px; margin-bottom: 100px;">
                <div style="width: 100%; position: relative;">
                    <!-- <div style="background-color: red; width: 6px; height: 150px; position: absolute; z-index: 0; margin-left: 80%;"></div> -->
                    <img src="/static/checkered_flag.png" style="width: 54px; height: 150px; position: absolute; z-index: 0; margin-left: 80%;">
                    <!-- <span style="position: absolute; margin-left: 81%;">First to cross the line wins</span> -->
                    <div class="progress ksat" style="width: {{ data['ksat_progress'] }}%;"></div>
                    
                    <img src="/static/ksat.png" style="width: 108px; height: auto; z-index: 1; position: relative;">
                    <span class="bar-distance">{{ data['ksat_distance_per_member'] }}<span>km/employee</span></span>
                    <br>
                    <div class="progress orbit" style="width: {{ data['orbit_progress'] }}%;"></div>
                    <img src="/static/orbit.png" style="width: 108px; height: auto; z-index: 1; position: relative; transform: translate(0, 20%);">
                    <span class="bar-distance">{{ data['orbit_distance_per_member'] }}<span>km/member</span></span>
                </div>
            </div>
        
        </div>

        <div class="section split">
            <div class="split-section">
                <h2>Latest activity</h2>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Time</th>
                            <th>Distance</th>
                            <th>Elevation</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for athlete in data["latest_activity"] %}
                        <tr>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete_id']}}"><img src="{{ athlete['picture'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete_id']}}">{{ athlete["name"] }}</a></td>
                            <td>{{ athlete["time"] }}</td>
                            <td>{{ athlete["distance"] }} km</td>
                            <td>{{ athlete["height"] }} m</td>
                            <td><img src="{{ url_for('static', filename=athlete['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="split-section">
                <h2>Longest single distance</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th></th>
                            <th>Name</th>
                            <th>Distance</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for athlete in data["longest_single_distance"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete_id']}}"><img src="{{ athlete['athlete_picture_url'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete_id']}}">{{ athlete["athlete_firstname"] }} {{ athlete["athlete_lastname"] }}</a></td>
                            <td>{{ athlete["best_activities_distance"] }} km</td>
                            <td><img src="{{ url_for('static', filename=athlete['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="section split">
            <div class="split-section">
                <h2>Total Distance by Athlete</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th></th>
                            <th>Name</th>
                            <th>Distance</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for athlete in data["longest"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete_id']}}"><img src="{{ athlete['athlete_picture_url'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete_id']}}">{{ athlete["athlete_firstname"] }} {{ athlete["athlete_lastname"] }}</a></td>
                            <td>{{ athlete["distance"] }} km</td>
                            <td><img src="{{ url_for('static', filename=athlete['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="split-section">
                <h2>Total Elevation by Athlete</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th></th>
                            <th>Name</th>
                            <th>Height</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for athlete in data["highest"] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete_id']}}"><img src="{{ athlete['athlete_picture_url'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete_id']}}">{{ athlete["athlete_firstname"] }} {{ athlete["athlete_lastname"] }}</a></td>
                            <td>{{ athlete["elev_gain"] }} m</td>
                            <td><img src="{{ url_for('static', filename=athlete['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Tshirt Winners & Marathon Winners Section -->
        <div class="section split">
            <div class="split-section">
                <h2>T-shirt Winners</h2>
                <p>{{ data["tshirt_count"] }} t-shirt winners so far</p>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Time earned</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for athlete in data["tshirt"] %}
                        <tr>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete']['athlete_id']}}"><img src="{{ athlete['athlete']['athlete_picture_url'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete']['athlete_id']}}">{{ athlete["athlete"]["athlete_firstname"] }} {{ athlete["athlete"]["athlete_lastname"] }}</a></td>
                            <td>{{ athlete["time"] }}</td>
                            <td><img src="{{ url_for('static', filename=athlete['athlete']['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="split-section">
                <h2>Marathon Winners (max 15)</h2>
                <p>{{ data["marathon_count"] }}/15 marathon winners so far</p>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Time earned</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for athlete in data["marathon"] %}
                        <tr>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete']['athlete_id']}}"><img src="{{ athlete['athlete']['athlete_picture_url'] }}" alt="Profile Picture" class="profile-pic"></a></td>
                            <td><a href="https://strava.com/athletes/{{athlete['athlete']['athlete_id']}}">{{ athlete["athlete"]["athlete_firstname"] }} {{ athlete["athlete"]["athlete_lastname"] }}</a></td>
                            <td>{{ athlete["time"] }}</td>
                            <td><img src="{{ url_for('static', filename=athlete['athlete']['org_pic']) }}" alt="Org" class="org-pic"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer style="text-align: center; margin-top: 20px;">
        <p style="font-size: 14px; color: #555;">Crafted with <s>care</s> haste by Nicolai Nome Sommervold</p>
        <p style="font-size: 6px; margin-top: 2px; color: #555;">And Freider Fløan :happy-pepe:</p>
        <p style="font-size: 2px; margin-top: 2px; color: #555;">And input from Haakon Hjul Strand</p>
        <div style="margin-top: 10px; margin-bottom: 30px;">
            <a href="https://github.com/sommervold" target="_blank" style="text-decoration: none; color: #007bff; font-size: 14px;">Visit my GitHub profile</a>
        </div>
    </footer>
    <script type="text/javascript">
        const updateTimer = () => {
            let now = new Date();
            let end = new Date(2024, 4, 27, 0, 0, 0);
            let time_left = (end - now) / 1000;
            days = Math.floor(time_left/(24*3600))
            hours = Math.floor((time_left%(24*3600))/3600)
            minutes = Math.floor((time_left%3600)/60)
            seconds = Math.floor(time_left%60)
            document.getElementById("days").innerHTML = days
            document.getElementById("hours").innerHTML = hours
            document.getElementById("minutes").innerHTML = minutes
            document.getElementById("seconds").innerHTML = seconds
        }

        updateTimer();
        setInterval(updateTimer, 1000);
    </script>
</body>
</html>
