<html>
<head>

</head>
<body>
    <p>KSAT - Length: {{ data["ksat_length"] }}   Height: {{ data["ksat_height"] }}  Distance per employee: {{ data["ksat_distance_per_member"] }}</p>
    <p>Orbit - Length: {{ data["orbit_length"] }}   Height: {{ data["orbit_height"] }}  Distance per member: {{ data["orbit_distance_per_member"] }}</p>
    <p>Longest single distance - {{ data["longest_single_distance"]["athlete_firstname"] + " " + data["longest_single_distance"]["athlete_lastname"] + ". Distance: "}}{{ data["longest_single_distance"]["best_activities_distance"] }}</p>
    <table>
        <thead>
            <td>Name</td>
            <td>Length</td>
            <td>Organization</td>
        </thead>
        <tbody>
            {% for athlete in data["longest"] %}
            <tr>
                <td>{{ athlete["athlete_firstname"] + " " + athlete["athlete_lastname"]}}</td>
                <td>{{ athlete["distance"] }}</td>
                <td>{{ athlete["org"] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <br>
    <table>
        <thead>
            <td>Name</td>
            <td>Height</td>
            <td>Organization</td>
        </thead>
        <tbody>
            {% for athlete in data["highest"] %}
            <tr>
                <td>{{ athlete["athlete_firstname"] + " " + athlete["athlete_lastname"]}}</td>
                <td>{{ athlete["elev_gain"] }}</td>
                <td>{{ athlete["org"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Tshirt-winners:</p>
    <table>
        <thead>
            <td>Name</td>
            <td>Time earned</td>
            <td>Organization</td>
        </thead>
        <tbody>
            {% for athlete in data["tshirt"] %}
            <tr>
                <td>{{ athlete["athlete"]["athlete_firstname"] + " " + athlete["athlete"]["athlete_lastname"]}}</td>
                <td>{{ athlete["time"] }}</td>
                <td>{{ athlete["athlete"]["org"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Marathon-winners:</p>
    <table>
        <thead>
            <td>Name</td>
            <td>Time earned</td>
            <td>Organization</td>
        </thead>
        <tbody>
            {% for athlete in data["marathon"] %}
            <tr>
                <td>{{ athlete["athlete"]["athlete_firstname"] + " " + athlete["athlete"]["athlete_lastname"]}}</td>
                <td>{{ athlete["time"] }}</td>
                <td>{{ athlete["athlete"]["org"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>








<div class="section">
    <h2>Longest Distances by Athlete</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Length</th>
                <th>Organization</th>
            </tr>
        </thead>
        <tbody>
            {% for athlete in data["longest"] %}
            <tr>
                <td><img src="{{ athlete['athlete_picture_url'] }}" class="profile-pic"></td>
                <td>{{ athlete["athlete_firstname"] }} {{ athlete["athlete_lastname"] }}</td>
                <td>{{ athlete["distance"] }}</td>
                <td>{{ athlete["org"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="section">
    <h2>Highest Elevations</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Organization</th>
                <th>Profile Picture</th>
            </tr>
        </thead>
        <tbody>
            {% for athlete in data["highest"] %}
            <tr>
                <td><img src="{{ athlete['athlete_picture_url'] }}" alt="Profile Picture" class="profile-pic"></td>
                <td>{{ athlete["athlete_firstname"] }} {{ athlete["athlete_lastname"] }}</td>
                <td>{{ athlete["elev_gain"] }}</td>
                <td>{{ athlete["org"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="section">
    <h2>Tshirt Winners</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Time earned</th>
                <th>Organization</th>
            </tr>
        </thead>
        <tbody>
            {% for athlete in data["tshirt"] %}
            <tr>
                <td><img src="{{ athlete['athlete']['athlete_picture_url'] }}" alt="Profile Picture" class="profile-pic"></td>
                <td>{{ athlete["athlete"]["athlete_firstname"] }} {{ athlete["athlete"]["athlete_lastname"] }}</td>
                <td>{{ athlete["time"] }}</td>
                <td>{{ athlete["athlete"]["org"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="section">
    <h2>Marathon Winners</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Time earned</th>
                <th>Organization</th>
            </tr>
        </thead>
        <tbody>
            {% for athlete in data["marathon"] %}
            <tr>
                <td><img src="{{ athlete['athlete']['athlete_picture_url'] }}" alt="Profile Picture" class="profile-pic"></td>
                <td>{{ athlete["athlete"]["athlete_firstname"] }} {{ athlete["athlete"]["athlete_lastname"] }}</td>
                <td>{{ athlete["time"] }}</td>
                <td>{{ athlete["athlete"]["org"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Other sections for highest elevations, tshirt winners, marathon winners -->
